body {
    background-color: lightgray;
}

h1, h3, div {
    margin: auto;
    width: 50%;
    padding: 70px;
    font-family: Verdana;
}

span.github {
    background-image: url(icons/github.svg);
    background-size: 100px 100px;
}